*{
    background-color: rgb(139, 139, 104);
    text-align: center;
    
}
#whole_project{
    
    /* border: 2px solid black; */
    text-align: center;
    /* width: 50vw; */
}
label{
    display: block;
    margin: 10px 0px 10px 0px;
}
#list{
    content: center;
}
#height{
    background-color: whitesmoke;
    color:black
}
#weight{
    background-color: whitesmoke;
    color:black
}